# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# emacs backup
#*#

# log
*.log
*.log.wf

# test
*_unittest

# example
*_example

output

# autoconf
.libs
.deps
config.status
third/scws/Makefile
third/scws/cli/Makefile
third/scws/cli/gen-scws-dict
third/scws/cli/scws
third/scws/etc/Makefile
third/scws/libscws/Makefile
third/scws/libtool
third/scws/stamp-h1
third/scws/config.h

# test files
examples/libscws.so.1
examples/libscws.so.1.1.0

Debug
~*

# mac files
.DS_Store
._*
